RewriteEngine on




RewriteRule ^home$ index.php?pagina=home
RewriteRule ^overOns$ index.php?pagina=overOns
RewriteRule ^docs$ index.php?pagina=docs
RewriteRule ^contact$ index.php?pagina=contact


ErrorDocument 404 /error/404.php